<div class="col-md-6 offset-md-3 spiel-container">
  @if (movePossible()) {
    <div class="row preview-row">
      @for (reihe of game()!.board[0]; track $index; let colIndex = $index) {
        <div class="col preview-cell">
          @if (hoveredColumn() === colIndex || selectedColumn() === colIndex) {
            <app-spiel-stein
              [playerId]="game()!.currentPlayerId"
              [isGhost]="selectedColumn() !== colIndex"
              [currentPlayerId]="game()!.currentPlayerId"
            >
            </app-spiel-stein>
          }
        </div>
      }
    </div>
  }
  @if (game()) {
    <div class="spiel-brett-gitter">
      @for (reihe of game()!.board; track $index; let rowIndex = $index) {
        <div class="row">
          @for (col of reihe; track $index; let colIndex = $index) {
            <div
              class="col einzel-feld"
              (mouseenter)="hoveredColumn.set(colIndex)"
              (mouseleave)="hoveredColumn.set(null)"
              (click)="handleCellClick(colIndex)"
            >
              <app-spiel-stein
                [playerId]="col"
                [isGhost]="isGhost(col, colIndex, rowIndex)"
                [currentPlayerId]="game()!.currentPlayerId"
              ></app-spiel-stein>
            </div>
          }
        </div>
      }
    </div>
  }
</div>
