<div class="col-md-12">
  <div class="row">
    <label class="col-md-4" for="player1Select">Spieler 1:</label>
    <div class="col-md-6">
      <app-backend-select
        [placeholder]="'User suchen ...'"
        [minTermLength]="3"
        [bindLabel]="'username'"
        [searchFn]="searchProvider"
        [value]="player1"
        (selected)="onPlayerSelected($event, 1)"
      ></app-backend-select>
    </div>
  </div>
  <div class="row">
    <label class="col-md-4">Spieler 2:</label>
    <div class="col-md-6">
      <app-backend-select
        [placeholder]="'User suchen ...'"
        [minTermLength]="3"
        [bindLabel]="'username'"
        [value]="player2"
        [searchFn]="searchProvider"
        (selected)="onPlayerSelected($event, 2)"
      ></app-backend-select>
    </div>
  </div>
  <div class="row">
    <div class="col-md-10 flex-end">
      <button class="btn btn-primary" title="Spiel starten" (click)="onStart()">Start</button>
    </div>
  </div>
</div>
