<section class="dialog-overlay" (click)="onClose()">
  <div class="dialog-container" [ngClass]="'size-' + size" (click)="$event.stopPropagation()">
    <header class="dialog-header">
      <span class="dialog-title">{{ title | translate }}</span>
      <button
        class="close-btn"
        (click)="onClose()"
        [attr.title]="'ALLGEMEIN.SCHLIESSEN' | translate"
        [attr.aria-label]="'ALLGEMEIN.SCHLIESSEN' | translate"
      >
        <fa-icon [icon]="faClose"></fa-icon>
      </button>
    </header>

    <section class="dialog-content">
      <ng-content></ng-content>
    </section>
  </div>
</section>
