/* You can add global styles to this file, and also import other style files */
*,
*::before,
*::after {
  box-sizing: border-box;
}

@import '@ng-select/ng-select/themes/default.theme.css';

.highlighted-text {
  background-color: #ffe396 !important;
  color: black; // Sicherstellen, dass der Text lesbar bleibt
}
