<app-panel panelTitle="USER_STAMMDATEN.TITEL">
  <app-spinner size="md" message="USER_STAMMDATEN.LADEN" [isLoading]="isLoading()">
    @if (user(); as userDetails) {
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-4">{{ 'USER_STAMMDATEN.BENUTZERNAME' | translate }}:</div>
          <div class="col-md-8">{{ userDetails.displayName }}</div>
        </div>
        <div class="row">
          <div class="col-md-4">{{ 'USER_STAMMDATEN.EMAIL' | translate }}:</div>
          <div class="col-md-8 d-flex gap-2">
            @if (clearEmail()) {
              <code>{{ clearEmail() }}</code>
              <span class="timer-badge"> (Verschwindet in {{ secondsLeft() }}s) </span>
            } @else {
              <span>{{ userDetails.maskedEmail }}</span>
              <button
                class="btn btn-secondary tiny-btn"
                (click)="onRevealEmail()"
                [attr.title]="'USER_STAMMDATEN.ZEIGE_EMAIL' | translate"
                [attr.aria-label]="'USER_STAMMDATEN.ZEIGE_EMAIL' | translate"
              >
                <fa-icon [icon]="faEye"></fa-icon>
              </button>
            }
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">{{ 'USER_STAMMDATEN.LETZTE_PW_AENDERUNG' | translate }}:</div>
          <div class="col-md-8 d-flex align-items-center">
            @if (userDetails.lastPasswordChangeAt) {
              {{ userDetails.lastPasswordChangeAt | appDate: 'date' }}
            } @else {
              <span class="null-val">{{ 'USER_STAMMDATEN.NIE' | translate }}</span>
            }
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">{{ 'USER_STAMMDATEN.STATUS' | translate }}:</div>
          <div class="col-md-8">{{ 'USER.STATUS.' + userDetails.status | translate }}</div>
        </div>
        <div class="row">
          <div class="col-md-4">{{ 'USER_STAMMDATEN.ROLLEN' | translate }}:</div>
          <div class="col-md-8">
            @for (role of userDetails.roles; track role) {
              <span>{{ 'ROLLEN.' + role | translate }}</span>
              @if (role !== userDetails.roles[userDetails.roles.length - 1]) {
                <span>, </span>
              }
            }
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">{{ 'USER_STAMMDATEN.SONDERBERECHTIGUNGEN' | translate }}:</div>
          <div class="col-md-8">
            @if (userDetails.customPermissions.length) {
              <span> {{ userDetails.customPermissions.join(', ') }}</span>
            } @else {
              <span class="null-val">{{ 'USER_STAMMDATEN.KEINE' | translate }}</span>
            }
          </div>
        </div>
      </div>
    } @else {
      <p>{{ 'USER_STAMMDATEN.KEINE_DATEN' }}</p>
    }
  </app-spinner>
  @if (user()?.lastModifiedInfos; as lastModified) {
    <app-last-modified-info panel-footer #footerContent [infos]="lastModified"></app-last-modified-info>
  }
</app-panel>
